*.DS_Store
*.pyc
*.sdf
/Android/CXTradeMWClient/bin
/Android/CXTradeMWTest/bin
/CXTradeMW/CXTradeMW/Release
/CXTradeMW/CXTradeMW/log
/CXTradeMW/Release/CXTradeMW.exe
/CXTradeMW/Release/CXTradeMW.pdb
/CXTradeMW/Release/TestCXTradeApi.exe
/CXTradeMW/Release/TestCXTradeApi.pdb
/CXTradeMW/TestCXTradeApi/Release
*~